$primary: #0a66c2;
$secondary: #000000e6; // big text
$third: #00000099; // small text
$hover_primary: #70b5f933;
$hover_secondary: #00000014;
$body_color: #f4f2ee;
$general: #ffffff;
$light_primary: #edf3f8;
